---
#- name: Deploy Jenkins
#  script: deploy-jenkins-persistent.sh

- name: add localhost to seed-hosts
  add_host:
    hostname: localhost
    groups:
      - seed-hosts
    ansible_connection: local
    ansible_host: localhost
  when: "inventory_hostname == 'localhost'"

- name: load inventory info for Jenkins 
  include_vars:
    dir: vars
    files_matching: seed-hosts.yml
  when: "inventory_hostname == 'localhost'"

- name: Deploy Jenkins using applier
  import_role:
    name: openshift-applier
  when: "inventory_hostname == 'localhost'"


- name: Test URL
  shell: echo https://$(sudo oc get route -n cicd | awk 'NR>1 {print $2}')  
  register: url

- name: debug 
  debug:
    msg: " Jenkins URL: {{ url.stdout }}"

- name: "wait for pod to come up"
  uri:
    url: "{{ url.stdout }}"
    status_code: 403
    validate_certs: no
  register: result
  until: result.status == 403
  retries: 120
  delay: 2 

- name: Jenkins Deployed
  debug:
    msg: "***JENKINS DEPLOYED***"
  when: result.status == 403

